# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Logs
logs/
freeradius-logs/
*.log

# Database & runtime data
*.db
*.sqlite3
pgadmin-data/
uploads/
backups/
data/

# Python
__pycache__/
*.pyc
venv/

# Env
.env
.env.*

# Docker
*.pid

# OS
.DS_Store
Thumbs.db
